Repository AliBagheri2079/dashboard-reactjs: changes, and which lint-staged commands are due for each by the changed paths.
All: rome check --apply, rome format --write, stylelint --formatter

:art: refactor: after test lint, format and style command, change the default files structure
  src/App.jsx
  src/main.jsx
  vite.config.js
Due: rome check --apply, rome format --write

:sparkles: feat: setup tailwind with postcss
  package.json
  postcss.config.js
  src/index.css
  tailwind.config.js
  yarn.lock
Due: rome check --apply, rome format --write, stylelint --formatter

:wrench: chore: ignore stylelint rule, change style script command
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  src/main.jsx
Due: rome check --apply, rome format --write

:sparkles: feat: add headlessui with heroicons
  package.json
  yarn.lock
Due: none

:wrench: chore: change rome lint script flag
  .lintstagedrc.json
  package.json
Due: none

:sparkles: feat: create navbar layout with headlssui and hero icons
  src/App.jsx
  src/components/ComboboxInput.jsx
  src/components/Popover.jsx
  src/components/SwitchButton.jsx
  src/layout/Navbar.jsx
Due: rome check --apply, rome format --write

:sparkles: feat: setupe tremor library, create content chart component
  package.json
  src/App.jsx
  src/components/Charts.jsx
  src/layout/Content.jsx
  tailwind.config.js
  yarn.lock
Due: rome check --apply, rome format --write

:bug: fix: change popover panel style classes
  src/components/Popover.jsx
Due: rome check --apply, rome format --write

:sparkles: feat: add next ui framework
  package.json
  yarn.lock
Due: none

:art: perf: change chart component name to data, change popover link focus style
  src/components/Data.jsx
  src/components/Popover.jsx
Due: rome check --apply, rome format --write

:sparkles: feat: add font awesome library
  package.json
Due: none

:sparkles: feat: create item component with next ui and font awesome
  src/components/Item.jsx
  src/layout/Content.jsx
Due: rome check --apply, rome format --write

:art: refactor: create fontawesome config file
  src/App.jsx
  src/components/Item.jsx
  src/config/fontawesome.js
Due: rome check --apply, rome format --write

:sparkles: feat: add react jss library
  package.json
  yarn.lock
Due: none

:sparkles: feat: create footer component
  src/App.jsx
  src/layout/Footer.jsx
Due: rome check --apply, rome format --write

:sparkles: feat: add two screenshot
  public/Screenshot-1.png
  public/Screenshot-2.png
Due: none

:art: refactor: cleanup and ready to start main project
  src/App.jsx
  src/components/ComboboxInput.jsx
  src/components/Data.jsx
  src/components/Item.jsx
  src/components/Popover.jsx
  src/components/SwitchButton.jsx
  src/config/fontawesome.js
  src/layout/Content.jsx
  src/layout/Footer.jsx
  src/layout/Navbar.jsx
  tailwind.config.js
Due: rome check --apply, rome format --write

:sparkles: feat: add chakra ui dependencies
  package.json
  yarn.lock
Due: none

:art: refactor: change index css to app css, move app files to container and add chakra provider on app file
  src/App.jsx
  src/container/App.css
  src/container/App.jsx
  src/main.jsx
Due: rome check --apply, rome format --write, stylelint --formatter

:zap: perf: improve performance with adding custom color and reset style to chakra theme
  src/container/App.jsx
Due: rome check --apply, rome format --write

:sparkles: feat: add dark mode to chakra theme
  src/container/App.jsx
Due: rome check --apply, rome format --write

:sparkles: feat: create home page component
  src/container/App.jsx
  src/pages/Home.jsx
Due: rome check --apply, rome format --write

:sparkles: feat: create navbar layout
  src/layout/Navbar.jsx
Due: rome check --apply, rome format --write

:sparkles: feat: add chakra icons library
  package.json
  yarn.lock
Due: none

:sparkles: feat: create accordion, image cards and signin form components
  src/components/Accordion.jsx
  src/components/ImageCards.jsx
  src/components/SiginForm.jsx
Due: rome check --apply, rome format --write

:sparkles: feat: add chakra template screenshot
  public/Screenshot-3.png
Due: none

:memo: docs: write project document
  README.md
Due: none

:sparkles: feat: set correct vite config base option
  vite.config.js
Due: rome check --apply, rome format --write

deploy: setup github action workflows
  .github/workflows/jekyll-gh-pages.yml
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  rome check --apply: any of: *.{js,jsx}
  rome format --write: any of: *.{js,jsx}
  stylelint --formatter: any of: *.css
